<h1>All answers in one place<h1>
<h2>This is a website to ask all question about the meaning of life<h2>

<form action="answer">
  <input type="text" name="user_question">
  <input type="submit" value="Ask!">
</form>